
<h1>{{data.title}}</h1>
{{#each data.products}}
{{!-- 
Se crea una especie de ambito donde this pasa a el elemento del array
 --}}
    <div>
        <h2>{{this.nombre}}</h2>
        <div><b>Precio:</b> ${{this.precio}}</div>
        <div><b>Quedan:</b> {{this.stock}} unidades disponibles</div>
        <a href="/product/detail/{{this.id}}" >Ir a detalle</a>
        <hr>
    </div>
{{/each}}





